.card-image{
    width: 320px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    border: 2px solid var(--red);
}

.sinopse-card{
    margin-bottom: 20px;
    min-width: 850px;
    border-radius: 20px;
    padding: 30px;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.700);
}

.card-image-div{
    display: flex;
    flex-flow: row wrap;
}